@page
@model FinancialApplication.Pages.BudgetPlannerModel
@{
    ViewData["Title"] = "Budget Analysis";
}

<div class="text-center">
    <h1 class="display-4">Budget Analysis</h1>
    <p>Use this tool to view monthly expenses versus income and how your spending is broken down.</p>
</div>

@*Form area for budget page*@
<div class="container" id="budgetBox">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-income-tab" data-bs-toggle="pill" data-bs-target="#pills-income" type="button" role="tab" aria-controls="pills-income" aria-selected="false">Income</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-housing-tab" data-bs-toggle="pill" data-bs-target="#pills-housing" type="button" role="tab" aria-controls="pills-housing" aria-selected="true">Housing</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-transportation-tab" data-bs-toggle="pill" data-bs-target="#pills-transportation" type="button" role="tab" aria-controls="pills-transportation" aria-selected="false">Transportation</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-medical-tab" data-bs-toggle="pill" data-bs-target="#pills-medical" type="button" role="tab" aria-controls="pills-medical" aria-selected="false">Medical</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-education-tab" data-bs-toggle="pill" data-bs-target="#pills-education" type="button" role="tab" aria-controls="pills-education" aria-selected="false">Education</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-loans-tab" data-bs-toggle="pill" data-bs-target="#pills-loans" type="button" role="tab" aria-controls="pills-loans" aria-selected="false">Loans & Credit Cards</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-investing-tab" data-bs-toggle="pill" data-bs-target="#pills-investing" type="button" role="tab" aria-controls="pills-investing" aria-selected="false">Investing</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-giving-tab" data-bs-toggle="pill" data-bs-target="#pills-giving" type="button" role="tab" aria-controls="pills-giving" aria-selected="false">Giving</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-misc-tab" data-bs-toggle="pill" data-bs-target="#pills-misc" type="button" role="tab" aria-controls="pills-misc" aria-selected="false">Miscellaneous</button>
        </li>
    </ul>

    <hr />
    <form method="post">
        @*Income tab inputs*@
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-income" role="tabpanel" aria-labelledby="pills-income-tab" tabindex="0">
                <div class="pill-form">
                    <center>
                        <h3>Income</h3>
                        <br />
                        <label>Monthly Net Income</label>
                        <input id="budget-input" type="number" asp-for="monthly_income" />
                        <br />
                        <label>Other Income</label>
                        <input id="budget-input" type="number" asp-for="other_income" />
                    </center>
                </div>
            </div>

            @*Housing tab inputs*@
            <div class="tab-pane fade" id="pills-housing" role="tabpanel" aria-labelledby="pills-housing-tab" tabindex="0">
                <center>
                    <h3>Housing and Living Expenses</h3>
                    <br />
                    <label>Mortgage/Rent</label>
                    <input id="budget-input" type="number" asp-for="mortgage" />
                    <br />
                    <label>Property Taxes</label>
                    <input id="budget-input" type="number" asp-for="property_tax"/>
                    <br />
                    <label>Groceries</label>
                    <input id="budget-input" type="number" asp-for="groceries"/>
                    <br />
                    <label>Homeowners/Renters Insurance</label>
                    <input id="budget-input" type="number" asp-for="homeowners_insurance"/>
                    <br />
                    <label>Utilities</label>
                    <input id="budget-input" type="number" asp-for="utilities"/>
                    <br />
                    <label>Child Care</label>
                    <input id="budget-input" type="number" asp-for="child_care"/>
                    <br />
                    <label>Other Expenses</label>
                    <input id="budget-input" type="number" asp-for="other_housing_expenses"/>
                </center>
            </div>

            @*Transportation tab inputs*@
            <div class="tab-pane fade" id="pills-transportation" role="tabpanel" aria-labelledby="pills-transportation-tab" tabindex="0">
                <center>
                    <h3>Transportation/Auto Expenses</h3>
                    <label>Car Loan(s)/Payment</label>
                    <input id="budget-input" type="number" asp-for="transportation_expenses"/>
                    <br />
                    <label>Auto Insurance</label>
                    <input id="budget-input" type="number" asp-for="auto_insurance"/>
                    <br />
                    <label>Public Transportation</label>
                    <input id="budget-input" type="number" asp-for="public_transportation"/>
                    <br />
                    <label>Fuel and Maintenance</label>
                    <input id="budget-input" type="number" asp-for="fuel"/>
                    <br />
                    <label>Other Expenses</label>
                    <input id="budget-input" type="number" asp-for="other_auto_expenses"/>
                </center>

            </div>

            @*Medical tab inputs*@
            <div class="tab-pane fade" id="pills-medical" role="tabpanel" aria-labelledby="pills-medical-tab" tabindex="0">
                <center>
                    <h3>Medical & Healthcare Expenses</h3>
                    <label>Health Insurance</label>
                    <input id="budget-input" type="number" asp-for="health_insurance"/>
                    <br />
                    <label>Medical/Dental Expenses</label>
                    <input id="budget-input" type="number" asp-for="medical_dental_expenses"/>
                    <br />
                    <label>Other Expenses</label>
                    <input id="budget-input" type="number" asp-for="other_medical_expenses"/>
                </center>
            </div>

            @*Education tab inputs*@
            <div class="tab-pane fade" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab" tabindex="0">
                <center>
                    <h3>Education Expenses</h3>
                    <label>Tuition</label>
                    <input id="budget-input" type="number" asp-for="tuition"/>
                    <br />
                    <label>Textbooks</label> 
                    <input id="budget-input" type="number" asp-for="textbooks"/>
                    <br />
                    <label>Supplies</label>
                    <input id="budget-input" type="number" asp-for="supplies"/>
                    <br />
                    <label>Other Expenses</label>
                    <input id="budget-input" type="number" asp-for="other_education_expenses"/>
                </center>
            </div>

            @*Loan tab inputs*@
            <div class="tab-pane fade" id="pills-loans" role="tabpanel" aria-labelledby="pills-loans-tab" tabindex="0">
                <center>
                    <h3>Loans & Credit Cards Expenses</h3>
                    <label>Student Loans</label>
                    <input id="budget-input" type="number" asp-for="student_loans"/>
                    <br />
                    <label>Credit Cards</label>
                    <input id="budget-input" type="number" asp-for="credit_cards"/>
                    <br />
                    <label>Other Expenses</label>
                    <input id="budget-input" type="number" asp-for="other_loan_expenses"/>
                </center>
            </div>

            @*Investing tab inputs*@
            <div class="tab-pane fade" id="pills-investing" role="tabpanel" aria-labelledby="pills-investing-tab" tabindex="0">
                <center>
                    <h3>Savings and Investing</h3>
                    <label>College/Education Savings</label>
                    <input id="budget-input" type="number" asp-for="college_savings"/>
                    <br />
                    <label>Investments</label>
                    <input id="budget-input" type="number" asp-for="investments"/>
                    <br />
                    <label>Other Expenses</label>
                    <input id="budget-input" type="number" asp-for="other_savings_expenses"/>
                </center>
            </div>

            @*Giving tab inputs*@
            <div class="tab-pane fade" id="pills-giving" role="tabpanel" aria-labelledby="pills-giving-tab" tabindex="0">
                <center>
                    <h3>Giving Expenses</h3>
                    <label>Gifts</label>
                    <input id="budget-input" type="number" asp-for="gifts"/>
                    <br />
                    <label>Donations</label>
                    <input id="budget-input" type="number" asp-for="donations"/>
                </center>
            </div>

            @*Misc Tab inputs*@
            <div class="tab-pane fade" id="pills-misc" role="tabpanel" aria-labelledby="pills-misc-tab" tabindex="0">
                <center>
                    <h3>Miscellaneous Expenses</h3>
                    <label>Entertainment</label>
                    <input id="budget-input" type="number" asp-for="entertainment"/>
                    <br />
                    <label>Travel</label>
                    <input id="budget-input" type="number" asp-for="travel"/>
                    <br />
                    <label>Clothing</label>
                    <input id="budget-input" type="number" asp-for="clothing"/>
                    <br />
                    <label>Personal Care</label>
                    <input id="budget-input" type="number" asp-for="personal_care"/>
                    <br />
                    <label>General Purchases</label>
                    <input id="budget-input" type="number" asp-for="general_purchases"/>
                    <br />
                    <label>Other Expenses</label>
                    <input id="budget-input" type="number" asp-for="other_misc_expenses"/>
                </center>
            </div>
            @* onclick="toggleCharts()" needed in button for charts to appear. *@
            <center>
                <button class="btn btn-primary" id="showCharts" type="button">Calculate</button>
            </center>
        </div>
    </form>

    @* Back button *@
    <div class="back-button-container">
        <a href="/Index">
            <button class="btn btn-primary back-button" type="button" asp-page="/Index">Back</button>
        </a>
    </div>
</div>

@*     <div id="flexbox">
        <div class="chartBox">
            <canvas id="breakdown"></canvas> 
        </div>
        <div class="chartBox">
            <canvas id="budgetChart"></canvas> 
        </div>
    </div> *@


@* Start of JS for chart *@

@* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    function toggleCharts() {

        document.getElementById("flexbox").style.display = "flex";

        // Get pieData by serializing Model data
        const pieData = @Html.Raw(Json.Serialize(new
        {
            monthly_net_income = @Model.monthly_net_income,
            monthly_expenses = @Model.monthly_expenses,
            income = @Model.income,
            housing_expenses = @Model.housing_expenses,
            transportation_expenses = @Model.transportation_expenses,
            medical_expenses = @Model.medical_expenses,
            education_expenses = @Model.education_expenses,
            loans_cc_expenses = @Model.loans_cc_expenses,
            investing_expenses = @Model.investing_expenses,
            giving_expenses = @Model.giving_expenses,
            miscellaneous_expenses = @Model.miscellaneous_expenses
        }));

        console.log(pieData);

        // Data for the first pie chart 
        const data1 = {
            labels: [
                'Housing',
                'Transportation',
                'Medical',
                'Education',
                'Loans & Credit Cards',
                'Investing',
                'Giving',
                'Miscellaneous'
            ],
            datasets: [{
                label: 'Expense Categories',
                data: [
                    100, 200, 300, 400, 500, 600, 700, 800
                ],
                backgroundColor: [
                    'rgb(220, 20, 60)',
                    'rgb(0, 191, 255)',
                    'rgb(50, 205, 50)',
                    'rgb(255, 140, 0)',
                    'rgb(199, 21, 133)',
                    'rgb(255, 215, 0)',
                    'rgb(112, 128, 144)',
                    'rgb(0, 0, 0)'
                ],
                hoverOffset: 20
            }]
        };

        // Data for the second pie chart 
        const data2 = {
            labels: ['Income', 'Expenses'],
            datasets: [{
                label: 'Spending Breakdown',
                data: [
                    100, 200
                ],
                backgroundColor: ['rgb(34, 193, 195)', 'rgb(253, 187, 45)'],
                hoverOffset: 20
            }]
        };

        const config1 = {
            type: 'pie',
            data: data1,
            options: {
                layout: {
                    padding: {
                        top: 40,
                        bottom: 40
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        padding: 20,
                        position: 'bottom'
                    }
                }
            }
        };

        const config2 = {
            type: 'pie',
            data: data2,
            options: {
                layout: {
                    padding: {
                        top: 40,
                        bottom: 40
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            padding: 20
                        }
                    }
                }
            }
        };

        const budgetChart = document.getElementById("budgetChart");
        const breakdown = document.getElementById("breakdown");

        new Chart(budgetChart, config1);
        new Chart(breakdown, config2);
    }
</script> *@






@* Start of CSS *@

<style>
    #flexbox {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .chartBox {
        width: 45%;
        height: 500px; 
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        width: 100%; 
        height: 100% 
    }

    #budgetBox {
        border: 3px solid #41839C;
        border-radius: 10px;
        padding: 15px;
        margin-top: 20px;
    }

    #pieChart {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .tab-content {
        background-color: white;
    }

    .nav-pills .nav-link {
        color: black; 
        border: 2px solid transparent; 
        border-radius: 5px;
        transition: all 0.3s ease; 
        margin: 10px;
        padding: 10px;
    }

    .nav-pills .nav-link.active {
        color: white; 
        background-color: #41839C; 
        border-color: #41839C; 
    }

    .nav-pills .nav-link:hover {
        background-color: #E0F4F9; 
        border-color: #41839C; 
        color: black;
    }

    .pill-buttons {
        margin-bottom: 10px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        position: relative;
    }

    .tab-pane,
    .tab-pane fade {
        background-color: #E2DE99;
    }

    #budget-input {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    hr {
        border: 1px solid #41839C;
    }

    .tab-content label {
        text-align: right;
        width: 150px;
    }

    .tab-content {
        background-color: #E2DE99;
        height: 500px;
    }

    .tab-content button {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .back-button-container {
        text-align: center;
        margin-top: 20px;
    }

    .back-button {
        display: inline-block;
    }
</style>
