@page
@model FinancialApplication.Pages.RetirementCalculatorModel
@{
    ViewData["Title"] = "Retirement Calculator";
}

<div class="text-center">
    <h1 class="display-4">Retirement Calculator</h1>
    <p>Use this tool to calculate estimated savings for retirement.</p>
</div>

@*Form area*@
<div class="container" id="retirementBox">
    <h6>*Indicates the field is required</h6>
    <form method="post">
        <div class="form-group">
            <label>Current Age*</label>
            <input class="form-control" asp-for="age" type="number" />
            <span asp-validation-for="age" class="text-danger"></span>
            <br />
            <label>Retirement Age*</label>
            <input class="form-control" asp-for="retirement_age" type="number" />
            <span asp-validation-for="retirement_age" class="text-danger"></span>
            <br />
            <label>Current Total Investments</label>
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Total amount invested in stocks, mutual funds, etc."><img id="tooltip" src="Images/tooltip.png" /></a>
            <input class="form-control" asp-for="current_investments" type="number" />
            <br />
            <label>Monthly Contributions*</label>
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Monthly contributions to investments."><img id="tooltip" src="Images/tooltip.png" /></a>
            <input class="form-control" asp-for="contributions" type="number" />
            <br />
            <label>Projected Annual Returns (%)*</label>
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Projected annual returns on investments, "><img id="tooltip" src="Images/tooltip.png" /></a>
            <input class="form-control" asp-for="annual_returns" type="number" />
            <span asp-validation-for="annual_returns" class="text-danger"></span>
            <br />
            <label>Savings Withdrawn Per Year (%)*</label>
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Percentage of savings to take out per year during retirement."><img id="tooltip" src="Images/tooltip.png" /></a>
            <input class="form-control" asp-for="withdraw_percentage" type="number" />
            <span asp-validation-for="withdraw_percentage" class="text-danger"></span>
            <br />
            <label>Life Expectancy*</label>
            <input class="form-control" asp-for="life_expectancy" type="number" />
            <span asp-validation-for="life_expectancy" class="text-danger"></span>
        </div>
        <div id="calculate">
            <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
    </form>
    <div id="back-button-container">
        <a href="/Index">
            <button class="btn btn-primary" type="button">Back</button>
        </a>
    </div>
</div>

@if (Model.future_value > 0)
{   
    <div id="savings">
        <h3>Retirement Savings</h3>
        <h3>@Model.future_value.ToString("C")</h3>
    </div>

    <div class="amortization" id="table">
        <table class="table table-striped">
            <tr>
                <th scope="col">Age</th>
                <th scope="col">@Model.display_withdraw_amount% of Savings</th>
                <th scope="col">Savings Remaining</th>
            </tr>
            @{
                double table_future_value = Model.future_value;
                double amount_withdrawn;
                double table_withdraw_percentage = Model.withdraw_percentage;
                table_withdraw_percentage = table_withdraw_percentage / 100;
                @*Iterates from retirement until expected death to create rows for each year in between*@
                for (int i = Model.retirement_age; i <= Model.life_expectancy; i++)
                {
                    
                    amount_withdrawn = table_future_value * table_withdraw_percentage;
                    table_future_value -= amount_withdrawn;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@amount_withdrawn.ToString("C")</td>
                        <td>@table_future_value.ToString("C")</td>
                    </tr>
                }
            }
        </table>
    </div>
}

@*CSS Styles*@

<style>
    #retirementBox {
        border: 3px, solid, #41839C;
        border-radius: 10px;
        padding: 15px;
    }

    #back-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #calculate {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #calculate {
        margin-top: 10px;
    }

    .amortization td, th, tr {
        border: 3px, solid, black;
        text-align: center;
    }

    #savings {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

@*Tooltip functionality*@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>